services:
  picotracker-theme-studio:
    build: .
    ports:
      - 5000:5000
    restart: unless-stopped
    volumes:
      - .:/app
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development

